<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>OpenRealEstate validator</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>

        <script src="/Content/Scripts/jquery/jquery-2.1.3.min.js"></script>
        @RenderSection("scripts", false)

    </body>
</html>